<a href="https://colab.research.google.com/github/Sanjida-Akter-Bithi/BRACU_CSE111/blob/main/Lab01(i).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**STRING**

Task 01

In [ ]:
#Task 01........(OK)
A=input()
low_count=0
upper_count=0
for i in A:
    if "A"<=i<="Z":
        upper_count+=1
    elif "a"<=i<="z" :
        low_count+=1
B=""
for i in A:
    if upper_count>low_count:
        if "A"<=i<="Z":
            B+=i
        else:
            B+=(chr(ord(i)-32))

    if low_count>=upper_count:
        if "a" <= i <= "z":
            B+=i
        else:
            B+=(chr(ord(i)+32))
print(B)

HOUSE

In [ ]:
#Task 1
string=input()
ans=""
upper_letter_count=0
lower_letter_counter=0
for char in string:

    if char.isupper():
        upper_letter_count+=1
    elif char.islower():
        lower_letter_counter+=1
#Checking the number  of uppercase and lowercase letters.
#Condition
if upper_letter_count>lower_letter_counter:
    for char in string:
        char=char.upper()
        ans+=char
elif lower_letter_counter>=upper_letter_count:
    for char in string:
        char=char.lower()
        ans+=char
print(ans)

BaNaNa
banana

Task 02

In [ ]:
#Task02........(OK)
A=input()
l_count=0
n_count=0

for i in A:

    if "A"<=i<="Z" or "a"<=i<="z":
        l_count+=1
    elif  "0"<=i<="9":
        n_count+=1
if  l_count>0 and  n_count>0 :
    print("Mixed")
elif l_count>0:
    print("word")
elif n_count>0:
    print("Number")

213213
Number

In [ ]:
input_string=input("Enter the string: ")
numbers=False
letters= False
for index in range(len(input_string)):
    if (48<=ord(input_string[index])<=57):
        numbers= True
    elif (65<=ord(input_string[index])<=90) or (97<=ord(input_string[index])<=122):
        letters= True
#print(letters)
#print(numbers)
if (letters== True) and (numbers== True):
    print("MIXED")
elif letters==True:
    print("WORD")
elif numbers==True:
    print("NUMBER")

Enter the string: 213213
NUMBER

Task 03

In [ ]:
#Task 03........(OK)
A=input()
B=""
C=""
for i in range(len(A)):
    if "A"<=A[i]<="Z":
        B+=str(i)
        break
for j in range(int(B)+1,len(A),1) :
    if "A"<=A[j]<="Z":
        C+=str(j)
        break
if A[int(B)+1:int(C)]=="":
    print("BLANK")
else:
    print(A[int(B)+1:int(C)])

baNgladEsh
glad

Task 04

In [ ]:
#Task 04........(OK)
A="harry"
B="hermione"
C=""
for i in A:
    if i in B:
        C+=i
D=""
for i in B:
    if i in A:
       D+=i
e=C+D
if e=="":
    print("Nothing in common")
else:
    print(e)

hrrhr

Task5

In [ ]:
#Task 05........(OK)
A=input()
is_u=False
is_l=False
is_d=False
is_s=False
for i in A:
    if "A"<=i<="Z":
        is_u=True
    elif "a" <=i<="z":
        is_l=True
    elif "0" <=i<="9":
        is_d=True
    else:
        is_s=True
B=""
if is_l==False :
    B+="Lowercase character missing, "
if is_u==False:
    B+="Uppercase character missing, "
if is_d==False:
    B+="Digit missing, "
if is_s==False :
    B+="Special character missing, "


if B=="":
  print("OK")
else:
  print(B[:-2])

ohmybracu
Uppercase character missing, Digit missing, Special character missing

List
task 01

In [ ]:
#List(01)........(OK)
X=[]

while True:
    A=input()
    if A=="STOP":
        break

    X+=[A]
#print(X)
count=0
W=[]
for i in X:
    for j in X:
        if i==j:
            count+=1

    if i not in W :
        W+=[i]
        print(f"{i}-{count}times")
    count=0

10
20
20
30
10
50
90
STOP
['10', '20', '20', '30', '10', '50', '90']
10-2times
20-2times
30-1times
50-1times
90-1times

In [ ]:
#List(02)........(OK)
import math
S=-math.inf
B=[]
N= int(input())
for i in range(N):
    sum = 0
    A_old=input().split(" ")
    A=[]
    for i in A_old:
      A+=[int(i)]
    for i in A:

        sum+=i
    if sum>S:
        S=sum
        B = A
print(S)
print(B)

4
1 2 3
4 5 6
10 11 12
7 8 9
33
[10, 11, 12]

In [ ]:
#list(03)........(OK)
A=input().split(" ")
B=input().split(" ")
X=[]
for i in A:
    for j in B:
        X+=[int(i)*int(j)]
print(X)

2 3 6
3 4 5
[6, 8, 10, 9, 12, 15, 18, 24, 30]

In [ ]:
#list task 4........(OK)

while 1==1:
  a = input().split(" ")
  if "STOP" in a:
    break
  else:
    b = []

    count = 0
    for i in a:
      b += [int(i)]
      count += 1

    c = []
    for i in range(1, count):
      c += [i]

    d = []
    for i in range(0,len(b)-1):
      if (b[i] - b[i+1]) > 0:
        d += [(b[i] - b[i+1])]
      elif (b[i] - b[i+1]) < 0:
        d += [-(b[i] - b[i+1])]

    is_ub_jumper = True
    for i in c:
      if i not in d:
        is_ub_jumper = False
        break
      else:
        is_ub_jumper = True

    if is_ub_jumper == True:
      print("UB JUMPER")
    else:
      print("NOT UB JUMPER")

STOP

In [ ]:
#List(05)........(OK)
X = input().split()
Y = []
for i in X:
    Y += [int(i)]
Z = input().split()
d = []
for i in Z:
    d += [int(i)]
e = []
for i in d:
    if i+Y[1] <= 5:
        e += [i]

print(len(e)//3)

5 2
0 4 5 1 0
1

In [ ]:
#Task 5
a=input().split(" ")
n=int(a[0])
k=int(a[1])
b=input().split(" ")

for i in range(len(b)):
  b[i]=5-int(b[i])

c=0
for i in range(len(b)):
  if b[i]>k:
    c+=1
d=int(c/3)
print(d)

5 2
0 4 5 1 0
1

In [ ]:
#Dictionart and tuple(01)........(OK)
a1 = input()
a2 = input()
a3 = a1 + "," + a2

b = a3.split(",")
c = {}

for i in b:
  item = i.split(": ")
  if item[0] in c:
    c[item[0]] += int(item[1])
  else:
    c[item[0]] = int(item[1])

l1 = []

for i,j in c.items():
  if j not in l1:
    l1 += [j]


for i in range(len(l1)):
    min_index = i

    for j in range(i + 1, len(l1)):

        if l1[j] < l1[min_index]:
            min_index = j

    (l1[i], l1[min_index]) = (l1[min_index], l1[i])


print(c)
print(tuple(l1))

a: 100, b: 100, c: 200, d: 300
a: 300, b: 200, d: 400, e: 200
{'a': 400, ' b': 300, ' c': 200, ' d': 700, ' e': 200}
(200, 300, 400, 700)

In [ ]:
#Dictionart and tuple(02)........(OK)
d = {}
while True:
  a = input()
  if a == "STOP":
    break
  else:
    if a in d:
      d[a] += 1
    else:
      d[a] = 1
for i,j in d.items():
  print(f"{i} - {j} times")

10
20
20
30
10
50
90
STOP
10 - 2 times
20 - 2 times
30 - 1 times
50 - 1 times
90 - 1 times

In [ ]:
#Dictionart and tuple(03)........(OK)
a = input()
b = a.split(",")
c = {}

for i in b:
    item = i.split(" : ")
    c[item[0]] = item[1]
d = {}
for i,j in c.items():
    if j not in d:
        d[j] = [i]
    else:
        d[j] += [i]
print(c)
print(d)

key1 : value1, key2 : value2, key3 : value1
{'key1': 'value1', ' key2': 'value2', ' key3': 'value1'}
{'value1': ['key1', ' key3'], 'value2': [' key2']}

In [ ]:
#Dictionart and tuple(04)........(OK)
d1 = {1: ",.?!:",2 : "ABC",3 : "DEF",4 : "GHI",5 : "JKL",6 : "MNO",7 : "PQRS",8 : "TUV",9 : "WXYZ",0 : "Space"}

a = input().upper()



for i in a:
    if i == " ":
        print(0,end="")
    else:
        for x,y in d1.items():
            if i in y:
                for j in range(len(y)):
                    if y[j] == i:
                        print(str(x)*(j+1),end="")

Hello, World!
443355555566610966677755531111

In [ ]:
list1 = input().split
list2 = input().split
cross_product = []

for i in list1:
    for j in list2:
        cross_product.append(i * j)

print(cross_product)

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [ ]:
# Get the number of lists
N = int(input())
lists = []
sums = []
# Get the N lists=
for i in range(N):
    current_list = list(map(int, input().split()))
    lists.append(current_list)
    current_sum = sum(current_list)
    sums.append(current_sum)
# Find the highest sum and its respective list
highest_sum = max(sums)
highest_sum_index = sums.index(highest_sum)
highest_sum_list = lists[highest_sum_index]
# Print the highest sum and its respective list
print("The highest sum is {0} from the list: {1}".format (highest_sum,highest_sum_list))
5
1 2 4 5
6 7